:root {
    --indie-font: 'Indie Flower', cursive;
    --osc-font: 'Open Sans Condensed', sans-serif;    
}

.padded-row {
    padding-top:25px;
}

.col-xs-6,
.col-xs-6 h4 {
    height:100%;
}

.pull-left > a.brand img {
    max-height: 50px;
}

.col-xs-6 h4 {
    font-family: var(--osc-font);
    font-size: 16px;
}

.featured_label h3 {
    font-family: var(--osc-font);
    font-size: 36px;
    text-align: center;
}

a,
.featured_label h3 {
    text-decoration: underline;
}

.navbar {
    border-radius: 0px;
    box-shadow: none;
    /* border: none;
        border-bottom-width: medium;
        border-bottom-style: none;
        border-bottom-color: currentcolor;
    border-bottom: 1px solid #eaeaea; */
    border-color: #D6D6D6;
    box-shadow: 0px 1px 3px 0px rgba(134, 134, 134, 0.4);
    font-family: var(--osc-font);
    font-size:16px;
    font-weight:bold;
}

#center-nav {
    float: none;
    text-align: center;   
}

#center-nav .center-nav {
    display: inline-block;
}

.navbar .brand{
    padding: 0 10px;
}
.navbar .nav > li > a {
    padding: 20px 15px;
    /*padding: 35px 15px;*/
}
.navbar .btn-navbar {
    /*margin-right: 0px;*/
    margin-top:15px;
}
.brand img{
    margin-top: 5px
}
@media (max-width:768px) {
    .brand img{
        margin-bottom: 5px
    }
    .navbar .nav > li > a {
        padding: 10px 15px;
    }
}

.navbar-login
{
    width: 300px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.dropdown-menu {
    left: auto;
    right: 0;
}

.icon-size
{
    font-size: 87px;
}

ul.dropdown-cart{
    min-width:250px;
}
ul.dropdown-cart li .item{
    display:block;
    padding:3px 10px;
    margin: 3px 0;
}
ul.dropdown-cart li .item:hover{
    background-color:#f3f3f3;
}
ul.dropdown-cart li .item:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

ul.dropdown-cart li .item-left{
    float:left;
}
ul.dropdown-cart li .item-left img,
ul.dropdown-cart li .item-left span.item-info{
    float:left;
}
ul.dropdown-cart li .item-left span.item-info{
    margin-left:10px;   
}
ul.dropdown-cart li .item-left span.item-info span{
    display:block;
}
ul.dropdown-cart li .item-right{
    float:right;
}
ul.dropdown-cart li .item-right button{
    margin-top:14px;
}

/* Note: Try to remove the following lines to see the effect of CSS positioning */
.affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
}

.affix-top {
    z-index: 9999 !important;
}

.affix + #content {
    padding-top: 70px;
}

.box-shadow {
	-webkit-box-shadow: 0px 1px 7px 0px rgba(122, 122, 122, 0.52);
	-moz-box-shadow:    0px 1px 7px 0px rgba(122, 122, 122, 0.52);
	box-shadow:         0px 1px 7px 0px rgba(122, 122, 122, 0.52)
}

.carousel {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
}
/* The controlsy */
.carousel-control {
	left: -12px;
    height: 40px;
	width: 40px;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    margin-top: 90px;
}
.carousel-control.right {
	right: -12px;
}
/* The indicators */
.carousel-indicators {
	right: 50%;
	top: auto;
	bottom: -10px;
	margin-right: -19px;
}
/* The colour of the indicators */
.carousel-indicators li {
	background: #cecece;
}
.carousel-indicators .active {
background: #428bca;
}

/**
 * Forms
 */
 .form-input {
    display: block;
    position: relative;
    font-family: var(--osc-font);
  }
  .form-input > .material-icons {
    position: absolute;
    font-size: 1.5rem;
    top: 1.2rem;
  }
  .form-input > .material-icons ~ input, .form-input > .material-icons ~ .label, .form-input > .material-icons ~ .underline {
    margin-left: 2.25rem;
    width: calc(100% - 2.25rem);
  }
  .form-input input {
    border: none;
    box-shadow: none;
    padding-top: 1.5rem;
    padding-right: 0;
    padding-bottom: 0.5rem;
    padding-left: 0;
    outline-style: none;
    width: 100%;
  }
  .form-input input ~ .label {
    color: #868e96;
    font-size: 1.7rem;
    margin: 0;
    pointer-events: none;
    position: absolute;
    top: 1rem;
    left: 0;
    transition: top .2s,font .2s;
    z-index: 1;
  }
  .form-input input ~ .underline {
    background-color: #38afef;
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: 0;
  }
  .form-input input:hover ~ .underline, .form-input input:focus ~ .underline {
    background-color: #38afef;
  }
  .form-input input:hover ~ .label, .form-input input:focus ~ .label {
    color: #38afef;
  }
  .form-input input:focus ~ .underline {
    height: 2px;
  }
  .form-input input:focus ~ .label, .form-input input:valid ~ .label {
    top: 0.5rem;
    font-size: 0.85rem;
  }
  .form-input input:-webkit-autofill ~ .label {
    top: 0.5rem;
    font-size: 0.85rem;
  }

